<%- include("layout/title.ejs") -%>

<div class="chat">
    <div class="inner">
        <div class="side-bar">
            <div class="wrapper">
                
                <div class="avatar" id="user-view"></div>
                <div class="name">
                    <div class="nickname" id="user-nickname">VasyA</div>
                    <div class="sign" id="change-nickname"></div>
                </div>
            </div>
            <div class="options">
                <div class="btm" id="create-button">create</div>
                <div class="btm" id="join-button"> join </div>
            </div>
            
        </div>
        <div class="window">
            <div class="room-info">
                <h2 class="room-name" id="room-name">No room</h2>
            </div>
            
            <div class="message-list" id="message-list">
               
               
                
                
                
            </div>
            <form class="field" id="field">
                <input id="input" class="text" type="text">
                <div class="btm" id="send-button">Send</div>
            </form>
        </div>
        <div class="users">
            <div class="users-list" id="user-list">
                <h1 class="title">Users in this room>></h1>
                
                
            </div>
            
            <a href="api/auth/logout" class="btm" id="logout-btm">Log Out</a>
        </div>
    </div>
</div>
<script src="javascripts/lib/jquery-3.3.1.min.js"></script>
<script src="javascripts/lib/socket.io.js"></script>
<script src="<%= assetFingerprint('javascripts/crypto.js') %>"></script>
<script src="<%= assetFingerprint('javascripts/chat-elements.js') %>"></script>
<script src="<%= assetFingerprint('javascripts/chat-ui.js') %>"></script>
<script src="<%= assetFingerprint('javascripts/chat-gate.js') %>"></script>

<%- include("layout/footer.ejs") -%>